.Arsi{
   width:50px;
   height: 50px; 
}
.Ys{
    width:50px;
   height: 50px; 
}

.logos:hover{
    background-color: rgb(12, 245, 12);
}

.korean{
    float: right;
    margin-right: 0;
    background-color: aquamarine;
    padding-left: 50px;
}
.intro{
    margin-left: 300px;
    margin-top: 20px;
}
.hebrew{
    margin-left: 295px;
    margin-top: 20px;
}

.hebrew:hover{
    background-color: goldenrod;
}
.intro:hover{
    background-color: goldenrod;
}

#title{
    background-color: #FFF8EA;
}

#title:hover{
    background-color: wheat;
}

.html5{
margin-left: 420px;
}

.flutter{
margin-top: 5px;
margin-left: 220px;
}

.react{
margin-top: 0px;
margin-left: 370px;
}

.btn{
    margin-left: 350px;
    margin-top: 100px;
}
.btn:hover{
    background-color: rgb(157, 157, 4);
}

.list-group{
    margin-left:200px;
    margin-top: 20px;
    margin-right: 0px;
}